*{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 16px;
}
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background: transparent;
    padding: 0;
    margin: 0;
}
::-webkit-scrollbar-thumb {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
}
input{
    background-color: transparent;
}
textarea{
    background-color: transparent;
}
body{
    background-color: #202124;
}
main{
    display: flex;
    background-color: #202124;
    flex-direction: column;
    align-items: center;
    padding: 32px 0px;
 }
#create{
    display: flex;
    flex-direction: column;

    width: 500px;
    padding: 12px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 6px;
}
#create-header{
    display: flex;
    margin-bottom: 12px;
}
#create-title-input{
    flex: 1;
    border: none;
    outline: none;
    width: auto;
    font-size: 20px;
    color: rgb(246, 131, 131);
    padding: 6px 6px 6px 0px;
}
#create-save{
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding: 6px;
    color: rgba(255, 255, 255, 0.5);
}
#create-content-textarea{
    resize: none;
    outline: none;
    border: none;
}

#show{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.show-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}
.show-footer i{
    color: rgba(255, 255, 255, 0.5);
    margin-right: 10px;
}
.show-bonus-background{
    display: inline-block;
    position: relative;
    
}
.show-note{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 12px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    margin-top: 24px;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
}
.show-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.show-img-block{
    position: relative;
}

.fa-trash-can{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.509);
    bottom: 10px;
    right: 10px;
    padding: 6px;
    font-size: 10px;
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.5);
    visibility: hidden;
}
.show-img-block:hover .fa-trash-can{
    animation: show 1s;
    visibility: visible;
}
@keyframes show {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
.show-img-item{
    height: 200px;
    max-width: 100%;
    object-fit: contain;
    margin: 0px 3px 6px 3px;
    border-radius: 5px;
}
.show-header{
    display: flex;
    margin-bottom: 12px;
}
.show-title-input{
    flex: 1;
    border: none;
    outline: none;
    width: auto;
    font-size: 20px;
    color: rgb(131, 131, 247);
    padding: 6px 6px 6px 0px;
}
.show-save{
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.5);
    padding: 6px;
    border-radius: 6px;
    margin-left: 6px;
}
.show-control{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.show-delete{
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    padding: 3px;
    font-size: 10px;
    margin-left: 10px;
}
.show-ghim{
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    padding: 3px;
    font-size: 10px;
    margin-left: 10px;
}
.show-content-textarea{
    resize: none;
    outline: none;
    border: none;
}
@keyframes faceIn {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
@media screen and (max-width: 550px) and (min-width: 451px) {
    #create{
        width: 350px;
    }
    #show{
        width: 350px;
    }
}
@media screen and (max-width: 450px) {
    #create{
        width: 300px;
    }
    #show{
        width: 300px;
    }
}
.show-bonus-background-list{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: -20px;
    margin-left: 30px;
    padding: 8px;
    box-shadow: 0px 0px 5px black;
    border-radius: 12px;
    background-color: #202124;
    display: none;
}